<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gz.rd.datacollection.dao.JkwwExeConditionMapper">

  <resultMap id="BaseResultMap" type="cn.gz.rd.datacollection.model.JkwwExeCondition">
    <result column="XMXH" jdbcType="VARCHAR" property="xmxh" />
    <result column="XMMC" jdbcType="VARCHAR" property="xmmc" />
    <result column="BNDTZJH_ZE" jdbcType="DECIMAL" property="bndtzjhZe" />
    <result column="BNDTZJH_CZZJWCE" jdbcType="DECIMAL" property="bndtzjhCzzjwce" />
    <result column="SYJD_WCE" jdbcType="DECIMAL" property="syjdWce" />
    <result column="SYJD_CZZJWCE" jdbcType="DECIMAL" property="syjdCzzjwce" />
    <result column="BJD_WCE" jdbcType="DECIMAL" property="bjdWce" />
    <result column="BJD_BSYJDjj" jdbcType="DECIMAL" property="bjdBsyjdjj" />
    <result column="BJD_CZZJWCE" jdbcType="DECIMAL" property="bjdCzzjwce" />
    <result column="BJD_CZZJ_BSYJDjj" jdbcType="DECIMAL" property="bjdCzzjBsyjdjj" />
    <result column="QNTQLJ_WCE" jdbcType="DECIMAL" property="qntqljWce" />
    <result column="QNTQLJ_WCL" jdbcType="DECIMAL" property="qntqljWcl" />
    <result column="QNTQLJ_CZZJWCE" jdbcType="DECIMAL" property="qntqljCzzjwce" />
    <result column="QNTQLJ_CZZJWCL" jdbcType="DECIMAL" property="qntqljCzzjwcl" />
    <result column="BJDLJ_WCE" jdbcType="DECIMAL" property="bjdljWce" />
    <result column="BJDLJ_BQNTQjj" jdbcType="DECIMAL" property="bjdljBqntqjj" />
    <result column="BJDLJ_CZZJWCE" jdbcType="DECIMAL" property="bjdljCzzjwce" />
    <result column="BJDLJ_CZZJ_BQNTQjj" jdbcType="DECIMAL" property="bjdljCzzjBqntqjj" />
    <result column="BJDLJ_WCL" jdbcType="DECIMAL" property="bjdljWcl" />
    <result column="BJDLJ_BQNTQjjb" jdbcType="DECIMAL" property="bjdljBqntqjjb" />
    <result column="BJDLJ_CZZJWCL" jdbcType="DECIMAL" property="bjdljCzzjwcl" />
    <result column="BJDLJ_CZZJ_BQNTQjjb" jdbcType="DECIMAL" property="bjdljCzzjBqntqjjb" />
    <result column="GCJSJDSM" jdbcType="VARCHAR" property="gcjsjdsm" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="TJZQ" jdbcType="VARCHAR" property="tjzq" />
    <result column="BMBH" jdbcType="VARCHAR" property="bmbh" />
    <result column="TBR" jdbcType="VARCHAR" property="tbr" />
    <result column="LXDH" jdbcType="VARCHAR" property="lxdh" />
  </resultMap>

  <insert id="insert" parameterType="cn.gz.rd.datacollection.model.JkwwExeCondition">
    insert into jkwww_sswsqsbjshmsjcssjhzxqk (XMXH, XMMC, BNDTZJH_ZE, 
      BNDTZJH_CZZJWCE, SYJD_WCE, SYJD_CZZJWCE, 
      BJD_WCE, BJD_BSYJDjj, BJD_CZZJWCE, 
      BJD_CZZJ_BSYJDjj, QNTQLJ_WCE, QNTQLJ_WCL, 
      QNTQLJ_CZZJWCE, QNTQLJ_CZZJWCL, BJDLJ_WCE, 
      BJDLJ_BQNTQjj, BJDLJ_CZZJWCE, BJDLJ_CZZJ_BQNTQjj, 
      BJDLJ_WCL, BJDLJ_BQNTQjjb, BJDLJ_CZZJWCL, 
      BJDLJ_CZZJ_BQNTQjjb, GCJSJDSM, BZ, 
      TJZQ, BMBH, TBR, LXDH)
    values (#{xmxh,jdbcType=VARCHAR}, #{xmmc,jdbcType=VARCHAR}, #{bndtzjhZe,jdbcType=DECIMAL}, 
      #{bndtzjhCzzjwce,jdbcType=DECIMAL}, #{syjdWce,jdbcType=DECIMAL}, #{syjdCzzjwce,jdbcType=DECIMAL}, 
      #{bjdWce,jdbcType=DECIMAL}, #{bjdBsyjdjj,jdbcType=DECIMAL}, #{bjdCzzjwce,jdbcType=DECIMAL}, 
      #{bjdCzzjBsyjdjj,jdbcType=DECIMAL}, #{qntqljWce,jdbcType=DECIMAL}, #{qntqljWcl,jdbcType=DECIMAL}, 
      #{qntqljCzzjwce,jdbcType=DECIMAL}, #{qntqljCzzjwcl,jdbcType=DECIMAL}, #{bjdljWce,jdbcType=DECIMAL}, 
      #{bjdljBqntqjj,jdbcType=DECIMAL}, #{bjdljCzzjwce,jdbcType=DECIMAL}, #{bjdljCzzjBqntqjj,jdbcType=DECIMAL}, 
      #{bjdljWcl,jdbcType=DECIMAL}, #{bjdljBqntqjjb,jdbcType=DECIMAL}, #{bjdljCzzjwcl,jdbcType=DECIMAL}, 
      #{bjdljCzzjBqntqjjb,jdbcType=DECIMAL}, #{gcjsjdsm,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
      #{tjzq,jdbcType=VARCHAR}, #{bmbh,jdbcType=VARCHAR}, #{tbr,jdbcType=VARCHAR}, #{lxdh,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="cn.gz.rd.datacollection.model.JkwwExeCondition">
    insert into jkwww_sswsqsbjshmsjcssjhzxqk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xmxh != null">
        XMXH,
      </if>
      <if test="xmmc != null">
        XMMC,
      </if>
      <if test="bndtzjhZe != null">
        BNDTZJH_ZE,
      </if>
      <if test="bndtzjhCzzjwce != null">
        BNDTZJH_CZZJWCE,
      </if>
      <if test="syjdWce != null">
        SYJD_WCE,
      </if>
      <if test="syjdCzzjwce != null">
        SYJD_CZZJWCE,
      </if>
      <if test="bjdWce != null">
        BJD_WCE,
      </if>
      <if test="bjdBsyjdjj != null">
        BJD_BSYJDjj,
      </if>
      <if test="bjdCzzjwce != null">
        BJD_CZZJWCE,
      </if>
      <if test="bjdCzzjBsyjdjj != null">
        BJD_CZZJ_BSYJDjj,
      </if>
      <if test="qntqljWce != null">
        QNTQLJ_WCE,
      </if>
      <if test="qntqljWcl != null">
        QNTQLJ_WCL,
      </if>
      <if test="qntqljCzzjwce != null">
        QNTQLJ_CZZJWCE,
      </if>
      <if test="qntqljCzzjwcl != null">
        QNTQLJ_CZZJWCL,
      </if>
      <if test="bjdljWce != null">
        BJDLJ_WCE,
      </if>
      <if test="bjdljBqntqjj != null">
        BJDLJ_BQNTQjj,
      </if>
      <if test="bjdljCzzjwce != null">
        BJDLJ_CZZJWCE,
      </if>
      <if test="bjdljCzzjBqntqjj != null">
        BJDLJ_CZZJ_BQNTQjj,
      </if>
      <if test="bjdljWcl != null">
        BJDLJ_WCL,
      </if>
      <if test="bjdljBqntqjjb != null">
        BJDLJ_BQNTQjjb,
      </if>
      <if test="bjdljCzzjwcl != null">
        BJDLJ_CZZJWCL,
      </if>
      <if test="bjdljCzzjBqntqjjb != null">
        BJDLJ_CZZJ_BQNTQjjb,
      </if>
      <if test="gcjsjdsm != null">
        GCJSJDSM,
      </if>
      <if test="bz != null">
        BZ,
      </if>
      <if test="tjzq != null">
        TJZQ,
      </if>
      <if test="bmbh != null">
        BMBH,
      </if>
      <if test="tbr != null">
        TBR,
      </if>
      <if test="lxdh != null">
        LXDH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xmxh != null">
        #{xmxh,jdbcType=VARCHAR},
      </if>
      <if test="xmmc != null">
        #{xmmc,jdbcType=VARCHAR},
      </if>
      <if test="bndtzjhZe != null">
        #{bndtzjhZe,jdbcType=DECIMAL},
      </if>
      <if test="bndtzjhCzzjwce != null">
        #{bndtzjhCzzjwce,jdbcType=DECIMAL},
      </if>
      <if test="syjdWce != null">
        #{syjdWce,jdbcType=DECIMAL},
      </if>
      <if test="syjdCzzjwce != null">
        #{syjdCzzjwce,jdbcType=DECIMAL},
      </if>
      <if test="bjdWce != null">
        #{bjdWce,jdbcType=DECIMAL},
      </if>
      <if test="bjdBsyjdjj != null">
        #{bjdBsyjdjj,jdbcType=DECIMAL},
      </if>
      <if test="bjdCzzjwce != null">
        #{bjdCzzjwce,jdbcType=DECIMAL},
      </if>
      <if test="bjdCzzjBsyjdjj != null">
        #{bjdCzzjBsyjdjj,jdbcType=DECIMAL},
      </if>
      <if test="qntqljWce != null">
        #{qntqljWce,jdbcType=DECIMAL},
      </if>
      <if test="qntqljWcl != null">
        #{qntqljWcl,jdbcType=DECIMAL},
      </if>
      <if test="qntqljCzzjwce != null">
        #{qntqljCzzjwce,jdbcType=DECIMAL},
      </if>
      <if test="qntqljCzzjwcl != null">
        #{qntqljCzzjwcl,jdbcType=DECIMAL},
      </if>
      <if test="bjdljWce != null">
        #{bjdljWce,jdbcType=DECIMAL},
      </if>
      <if test="bjdljBqntqjj != null">
        #{bjdljBqntqjj,jdbcType=DECIMAL},
      </if>
      <if test="bjdljCzzjwce != null">
        #{bjdljCzzjwce,jdbcType=DECIMAL},
      </if>
      <if test="bjdljCzzjBqntqjj != null">
        #{bjdljCzzjBqntqjj,jdbcType=DECIMAL},
      </if>
      <if test="bjdljWcl != null">
        #{bjdljWcl,jdbcType=DECIMAL},
      </if>
      <if test="bjdljBqntqjjb != null">
        #{bjdljBqntqjjb,jdbcType=DECIMAL},
      </if>
      <if test="bjdljCzzjwcl != null">
        #{bjdljCzzjwcl,jdbcType=DECIMAL},
      </if>
      <if test="bjdljCzzjBqntqjjb != null">
        #{bjdljCzzjBqntqjjb,jdbcType=DECIMAL},
      </if>
      <if test="gcjsjdsm != null">
        #{gcjsjdsm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="tjzq != null">
        #{tjzq,jdbcType=VARCHAR},
      </if>
      <if test="bmbh != null">
        #{bmbh,jdbcType=VARCHAR},
      </if>
      <if test="tbr != null">
        #{tbr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null">
        #{lxdh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteDeptData">
    delete from jkwww_sswsqsbjshmsjcssjhzxqk
    where BMBH = #{deptCode,jdbcType=VARCHAR} and TJZQ = #{countRate,jdbcType=VARCHAR}
  </delete>

  <select id="selectDeptData" resultMap="projectResultMap">
    SELECT a.*, b.*
    FROM jkwww_msjcssxmjcxxb a, jkwww_sswsqsbjshmsjcssjhzxqk b
    WHERE a.`xmxh` = b.`XMXH`
    <if test="deptCode != null">
      AND b.`BMBH` = #{deptCode,jdbcType=VARCHAR}
    </if>
    <if test="countRate != null">
      AND b.`tjzq` = #{countRate,jdbcType=VARCHAR}
    </if>
    ORDER BY a.`xmxh`
  </select>

  <resultMap id="projectResultMap" type="cn.gz.rd.datacollection.model.JkwwExeCondition">
    <id column="XMXH" jdbcType="INTEGER" property="xmxh" />
    <result column="XMBM" jdbcType="VARCHAR" property="xmbm" />
    <result column="SFWZDXM" jdbcType="VARCHAR" property="sfwzdxm" />
    <result column="ZDXMXH" jdbcType="INTEGER" property="zdxmxh" />
    <result column="SFWGCBZXM" jdbcType="VARCHAR" property="sfwgcbzxm" />
    <result column="GCBZXMXH" jdbcType="INTEGER" property="gcbzxmxh" />
    <result column="FL" jdbcType="VARCHAR" property="fl" />
    <result column="ZT" jdbcType="VARCHAR" property="zt" />
    <result column="XMMC" jdbcType="VARCHAR" property="xmmc" />
    <result column="ZGBM" jdbcType="VARCHAR" property="zgbm" />
    <result column="XMYZ" jdbcType="VARCHAR" property="xmyz" />
    <result column="XMGMHJSNR" jdbcType="VARCHAR" property="xmgmhjsnr" />
    <result column="JHKGSJN" jdbcType="INTEGER" property="jhkgsjn" />
    <result column="JHKGSJY" jdbcType="INTEGER" property="jhkgsjy" />
    <result column="YJJCSJN" jdbcType="INTEGER" property="yjjcsjn" />
    <result column="YJJCSJY" jdbcType="INTEGER" property="yjjcsjy" />
    <result column="XMZTZZE" jdbcType="DECIMAL" property="xmztzze" />
    <result column="XMZTZCZZJ" jdbcType="DECIMAL" property="xmztzczzj" />
    <result column="BNDTZJH_ZE" jdbcType="DECIMAL" property="bndtzjhZe" />
    <result column="BNDTZJH_CZZJWCE" jdbcType="DECIMAL" property="bndtzjhCzzjwce" />
    <result column="SYJD_WCE" jdbcType="DECIMAL" property="syjdWce" />
    <result column="SYJD_CZZJWCE" jdbcType="DECIMAL" property="syjdCzzjwce" />
    <result column="BJD_WCE" jdbcType="DECIMAL" property="bjdWce" />
    <result column="BJD_BSYJDjj" jdbcType="DECIMAL" property="bjdBsyjdjj" />
    <result column="BJD_CZZJWCE" jdbcType="DECIMAL" property="bjdCzzjwce" />
    <result column="BJD_CZZJ_BSYJDjj" jdbcType="DECIMAL" property="bjdCzzjBsyjdjj" />
    <result column="QNTQLJ_WCE" jdbcType="DECIMAL" property="qntqljWce" />
    <result column="QNTQLJ_WCL" jdbcType="DECIMAL" property="qntqljWcl" />
    <result column="QNTQLJ_CZZJWCE" jdbcType="DECIMAL" property="qntqljCzzjwce" />
    <result column="QNTQLJ_CZZJWCL" jdbcType="DECIMAL" property="qntqljCzzjwcl" />
    <result column="BJDLJ_WCE" jdbcType="DECIMAL" property="bjdljWce" />
    <result column="BJDLJ_BQNTQjj" jdbcType="DECIMAL" property="bjdljBqntqjj" />
    <result column="BJDLJ_CZZJWCE" jdbcType="DECIMAL" property="bjdljCzzjwce" />
    <result column="BJDLJ_CZZJ_BQNTQjj" jdbcType="DECIMAL" property="bjdljCzzjBqntqjj" />
    <result column="BJDLJ_WCL" jdbcType="DECIMAL" property="bjdljWcl" />
    <result column="BJDLJ_BQNTQjjb" jdbcType="DECIMAL" property="bjdljBqntqjjb" />
    <result column="BJDLJ_CZZJWCL" jdbcType="DECIMAL" property="bjdljCzzjwcl" />
    <result column="BJDLJ_CZZJ_BQNTQjjb" jdbcType="DECIMAL" property="bjdljCzzjBqntqjjb" />
    <result column="GCJSJDSM" jdbcType="VARCHAR" property="gcjsjdsm" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="TJZQ" jdbcType="VARCHAR" property="tjzq" />
    <result column="BMBH" jdbcType="VARCHAR" property="bmbh" />
    <result column="TBR" jdbcType="VARCHAR" property="tbr" />
    <result column="LXDH" jdbcType="VARCHAR" property="lxdh" />
  </resultMap>

  <select id="selectExePlan" resultMap="projectResultMap">
    SELECT xm.*, jd.*
    FROM jkwww_msjcssxmjcxxb xm, jkwww_sswsqsbjshmsjcssjhzxqk jd
    WHERE xm.xmxh = jd.xmxh
    <if test="className != null">
      AND xm.`FL` = #{className,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      AND xm.`ZT` = #{status,jdbcType=VARCHAR}
    </if>
    <if test="mainDeptName != null">
      AND xm.`ZGBM` LIKE #{mainDeptName,jdbcType=VARCHAR}
    </if>
    <if test="ownerName != null">
      AND xm.`XMYZ` LIKE #{ownerName,jdbcType=VARCHAR}
    </if>
    <if test="projectName != null">
      AND xm.`XMMC` LIKE #{projectName,jdbcType=VARCHAR}
    </if>
    <if test="countRate != null">
      AND jd.`TJZQ` = #{countRate,jdbcType=VARCHAR}
    </if>
    ORDER BY xm.xmxh
    <if test="startRow != null and pageSize != null">
      limit #{startRow}, #{pageSize}
    </if>
  </select>

  <select id="countExePlan" resultType="java.lang.Integer">
    SELECT count(1)
    FROM jkwww_msjcssxmjcxxb xm, jkwww_sswsqsbjshmsjcssjhzxqk jd
    WHERE xm.xmxh = jd.xmxh
    <if test="className != null">
      AND xm.`FL` = #{className,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      AND xm.`ZT` = #{status,jdbcType=VARCHAR}
    </if>
    <if test="mainDeptName != null">
      AND xm.`ZGBM` LIKE #{mainDeptName,jdbcType=VARCHAR}
    </if>
    <if test="ownerName != null">
      AND xm.`XMYZ` LIKE #{ownerName,jdbcType=VARCHAR}
    </if>
    <if test="projectName != null">
      AND xm.`XMMC` LIKE #{projectName,jdbcType=VARCHAR}
    </if>
    <if test="countRate != null">
      AND jd.`TJZQ` = #{countRate,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectStatInfo" resultMap="projectResultMap">
    SELECT
        IFNULL(xm.`FL`, '合计') AS FL,
        SUM(BNDTZJH_ZE) AS BNDTZJH_ZE,
        SUM(BNDTZJH_CZZJWCE) AS BNDTZJH_CZZJWCE,
        SUM(SYJD_WCE) AS SYJD_WCE,
        SUM(SYJD_CZZJWCE) AS SYJD_CZZJWCE,
        SUM(BJD_WCE) AS BJD_WCE,
        SUM(BJD_BSYJDjj) AS BJD_BSYJDjj,
        SUM(BJD_CZZJWCE) AS BJD_CZZJWCE,
        SUM(BJD_CZZJ_BSYJDjj) AS BJD_CZZJ_BSYJDjj,
        SUM(QNTQLJ_WCE) AS QNTQLJ_WCE,
        /*SUM(QNTQLJ_WCL) AS QNTQLJ_WCL,*/
        SUM(QNTQLJ_CZZJWCE) AS QNTQLJ_CZZJWCE,
        /*SUM(QNTQLJ_CZZJWCL) AS QNTQLJ_CZZJWCL,*/
        SUM(BJDLJ_WCE) AS BJDLJ_WCE,
        SUM(BJDLJ_BQNTQjj) AS BJDLJ_BQNTQjj,
        SUM(BJDLJ_CZZJWCE) AS BJDLJ_CZZJWCE,
        SUM(BJDLJ_CZZJ_BQNTQjj) AS BJDLJ_CZZJ_BQNTQjj,
        SUM(BNDTZJH_ZE)/SUM(BJDLJ_WCE) AS BJDLJ_WCL,
        /*SUM(BJDLJ_BQNTQjjb) AS BJDLJ_BQNTQjjb,*/
        SUM(BNDTZJH_CZZJWCE)/SUM(BJDLJ_CZZJWCE) AS BJDLJ_CZZJWCL
        /*SUM(BJDLJ_CZZJ_BQNTQjjb) AS BJDLJ_CZZJ_BQNTQjjb*/
    FROM jkwww_msjcssxmjcxxb xm, jkwww_sswsqsbjshmsjcssjhzxqk jd
    WHERE xm.xmxh = jd.xmxh AND jd.`TJZQ` = #{countRate,jdbcType=VARCHAR}
    GROUP BY xm.`FL` WITH ROLLUP
  </select>

</mapper>