<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gz.rd.datacollection.dao.JkwwOldageProblemBaseInfoMapper">

  <resultMap id="BaseResultMap" type="cn.gz.rd.datacollection.model.JkwwOldageProblemBaseInfo">
    <id column="XMBH" jdbcType="INTEGER" property="xmbh" />
    <result column="Q" jdbcType="VARCHAR" property="q" />
    <result column="JGMC" jdbcType="VARCHAR" property="jgmc" />
    <result column="CWS" jdbcType="VARCHAR" property="cws" />
    <result column="CLSJ" jdbcType="VARCHAR" property="clsj" />
    <result column="ZJZMJ" jdbcType="VARCHAR" property="zjzmj" />
    <result column="CZWT" jdbcType="VARCHAR" property="czwt" />
    <result column="GZJH" jdbcType="VARCHAR" property="gzjh" />
  </resultMap>

  <sql id="Base_Column_List">
    XMBH, Q, JGMC, CWS, CLSJ, ZJZMJ, CZWT, GZJH
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jkwww_yljgjcxxb
    where XMBH = #{xmbh,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jkwww_yljgjcxxb
    where XMBH = #{xmbh,jdbcType=INTEGER}
  </delete>

  <delete id="deleteAll">
    delete from jkwww_yljgjcxxb
  </delete>

  <insert id="insert" parameterType="cn.gz.rd.datacollection.model.JkwwOldageProblemBaseInfo">
    insert into jkwww_yljgjcxxb (XMBH, Q, JGMC, 
      CWS, CLSJ, ZJZMJ, CZWT, GZJH
      )
    values (#{xmbh,jdbcType=INTEGER}, #{q,jdbcType=VARCHAR}, #{jgmc,jdbcType=VARCHAR}, 
      #{cws,jdbcType=VARCHAR}, #{clsj,jdbcType=VARCHAR}, #{zjzmj,jdbcType=VARCHAR}, #{czwt,jdbcType=VARCHAR},
      #{gzjh,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="cn.gz.rd.datacollection.model.JkwwOldageProblemBaseInfo">
    insert into jkwww_yljgjcxxb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xmbh != null">
        XMBH,
      </if>
      <if test="q != null">
        Q,
      </if>
      <if test="jgmc != null">
        JGMC,
      </if>
      <if test="cws != null">
        CWS,
      </if>
      <if test="clsj != null">
        CLSJ,
      </if>
      <if test="zjzmj != null">
        ZJZMJ,
      </if>
      <if test="czwt != null">
        CZWT,
      </if>
      <if test="gzjh != null">
        GZJH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xmbh != null">
        #{xmbh,jdbcType=INTEGER},
      </if>
      <if test="q != null">
        #{q,jdbcType=VARCHAR},
      </if>
      <if test="jgmc != null">
        #{jgmc,jdbcType=VARCHAR},
      </if>
      <if test="cws != null">
        #{cws,jdbcType=VARCHAR},
      </if>
      <if test="clsj != null">
        #{clsj,jdbcType=VARCHAR},
      </if>
      <if test="zjzmj != null">
        #{zjzmj,jdbcType=VARCHAR},
      </if>
      <if test="czwt != null">
        #{czwt,jdbcType=VARCHAR},
      </if>
      <if test="gzjh != null">
        #{gzjh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.gz.rd.datacollection.model.JkwwOldageProblemBaseInfo">
    update jkwww_yljgjcxxb
    <set>
      <if test="q != null">
        Q = #{q,jdbcType=VARCHAR},
      </if>
      <if test="jgmc != null">
        JGMC = #{jgmc,jdbcType=VARCHAR},
      </if>
      <if test="cws != null">
        CWS = #{cws,jdbcType=VARCHAR},
      </if>
      <if test="clsj != null">
        CLSJ = #{clsj,jdbcType=VARCHAR},
      </if>
      <if test="zjzmj != null">
        ZJZMJ = #{zjzmj,jdbcType=VARCHAR},
      </if>
      <if test="czwt != null">
        CZWT = #{czwt,jdbcType=VARCHAR},
      </if>
      <if test="gzjh != null">
        GZJH = #{gzjh,jdbcType=VARCHAR},
      </if>
    </set>
    where XMBH = #{xmbh,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.gz.rd.datacollection.model.JkwwOldageProblemBaseInfo">
    update jkwww_yljgjcxxb
    set Q = #{q,jdbcType=VARCHAR},
      JGMC = #{jgmc,jdbcType=VARCHAR},
      CWS = #{cws,jdbcType=VARCHAR},
      CLSJ = #{clsj,jdbcType=VARCHAR},
      ZJZMJ = #{zjzmj,jdbcType=VARCHAR},
      CZWT = #{czwt,jdbcType=VARCHAR},
      GZJH = #{gzjh,jdbcType=VARCHAR}
    where XMBH = #{xmbh,jdbcType=INTEGER}
  </update>

</mapper>